# Директории, що створюються Go
/bin/
/pkg/
/vendor/

# Файли збірки
*.exe
*.dll
*.so
*.dylib

# IDE специфічні файли
.idea/
*.iml

# Кеш компілятора Go
**/*.test
.DS_Store

# Конфігурації та кеші
.vscode/
*.log

# Файли модуля
/go.sum
/go.mod

# Файли покриття
*.out
*.cover
coverage.txt

# Docker специфічні файли (якщо проект має Docker інтеграцію)
.docker/

# Тестові результати
*.test

# Інші файли, що можуть з’являтися під час розробки
*.env
